/* Lufga Variable Font (Normal and Italic) */

/* Regular and Bold (weights 100 to 900) */
@font-face {
  font-family: 'Lufga';
  src: url('/assets/fonts/font/Lufga-Regular.otf') format('opentype'),
       url('/assets/fonts/font/Lufga-Bold.otf') format('opentype'),
       /* Agrega aquí el resto de los estilos de la fuente, como italic, etc. */
}

* {
  font-family: 'Lufga', sans-serif;
}
body {
  font-family: 'Lufga', sans-serif;
}

h1, h2, h3 {
  font-family: 'Lufga', sans-serif;
  font-weight: bold;
}
/* Estilo del navbar */
.navbar {
  background-color: #f8f9fa;
  /* Blanco claro */
}

.navbar-brand img {
  height: 50px;
}

.navbar-text {
  color: #a052b5;
  /* El color de texto para "El sitio del cine" */
  font-style: italic;
  margin-left: 10px;
  margin-right: 10px;
}

.social-icons .nav-link {
  font-size: 18px;
  color: #663399 !important;
  /* Color púrpura de los íconos */
  margin-left: 15px;
}

.social-icons .nav-link:hover {
  color: #a052b5;
  /* Color de hover más claro */
}

/* Estilo del body */
body {
  background-image: url('../img/fondo-web.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*estilos para primeras secciones */
.bg-purple {
  background: linear-gradient(to right, #800080, #4b0082);
}

.small-icon {
  width: 60px;
  height: auto;
}
.small-icon-2 {
  width: 80px;
  height: auto;
}
.small-icon-3 {
  width: 110px;
  height: auto;
}
.mb-2 {
  margin-bottom: 0.5rem;
}

.main-logo {
  height: auto;
  width: 70%;
}

.movie-poster {
  max-width: 100%;
  height: 15rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 7px 10px 4px 7px rgba(25, 25, 25, 0.8);
}

/*segunda seccion */
.container-fluid.star-background {
  background-image: url('../img/fondo-estrellas.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.schedule-section {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin-bottom: 20px;
}

.schedule-section img {
  width: 100%;
}
.schedule-section img .img-cartelera{
  min-height: 250px !important;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iframe-container {
  height: 100%;
  max-height: 250px;
}
/* Estilos personalizados para la sección de películas */
.schedule-section .custom-row {
    display: flex;
    flex-wrap: wrap;
}

.schedule-section .img-cartelera {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height:250px; /* Ajustable según preferencia */
}

.schedule-section .iframe-container {
    position: relative;
    padding-bottom: 35%; /* Relación de aspecto 16:9 */  
    height: 0;
}

.schedule-section .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.calendar-container {
  text-align: center;
  margin: 20px auto;
  margin-top: 20px;
  width: 100%;
}

.map-container {
  margin-top: 20px;
  text-align: center;
}

.newsletter {
  border-radius: 25px;
  background: #ab81cd;
  padding: 20px;
}

.custom-btn i {
  margin-right: 8px;
  /* Espacio entre el icono y el texto */
  font-size: 18px;
  /* Tamaño del icono */
}

.custom-btn {
   font-family: 'Lufga', sans-serif;
  text-transform: uppercase;
  /* Texto en mayúsculas */
  letter-spacing: 1px;
  /* Espaciado entre letras */
  font-size: 18px;
  /* Tamaño del texto */
}

/* Estilos por defecto para ocultar el banner móvil en escritorio */
.banner-movil {
  display: none;
}

.proceso-compra {
  text-align: center;
 font-family: 'Lufga', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

.bg-morePurple {
  background-color: #1d1b3a !important;
}
.producto img{
  background-image: url('../img/COMPRA_Contenedor.png');
  background-size: cover;
  height: 300px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.texto-producto {
  background-image: url('../img/fondo-ticket-compra.png');
 font-family: 'Lufga', sans-serif;
  font-weight: 700;
  font-style: bold;
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 0 !important;
}

@keyframes hvr-push {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.buttonAgregar {
  background-color: #ffc107;
  color: black;
  border: none;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.buttonAgregar:hover,
.buttonAgregar:focus,
.buttonAgregar:active {
  animation-name: hvr-push;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.ticket-web {
  display: block;
}
.ticket-movil {
  display: none;
}
.table thead th {
  background-color: #a991d4 !important;
  color: white;
}
.fixed-button {
  position: fixed;
  width: 15em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8b005d;
  color: #fff;
  font-size: 1.8em;
  border: none;
  cursor: pointer;
}

.go-b {
  bottom: 0;
  margin-bottom: 10px;
}
.arrow-up {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #8b005d;
  position: relative;
}

.arrow-up:before,
.arrow-up:after {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  top: 50%;
  left: 50%;
}

.arrow-up:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.arrow-up:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
#peliculasTitulos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 1px;
    margin: 0;
    padding: 0;
    margin-right: 2em;
}

#peliculasTitulos .col-2 {
    flex: 0 0 auto; 
    padding: 0; 
    width: fit-content;
}

#peliculasTitulos .movie-poster {
    width: auto;
    margin-top:1rem;
    margin-right: 1rem;
    margin-left:1rem;
    height: 15rem;
}

#peliculasTitulos a {
    display: block; 
    text-align: center;
}






.calendar-header p {
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align:left;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  margin-top: 10px;
}

.calendar-day.lunes,
.calendar-day.martes,
.calendar-day.miercoles,
.calendar-day.jueves,
.calendar-day.viernes,
.calendar-day.sabado,
.calendar-day.domingo {
  background-image: url('../img/calendar---day.png');
    background-size: cover;
    font-size: 14px;
    background-repeat: round;
    text-transform: uppercase;
    padding: 3px;
    font-family: 'Lufga';
}
/*
.calendar-day {
    padding: 10px;
  color: white;
  text-align: center;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(
    10% 0%, 90% 0%, 
    100% 10%, 100% 90%, 
    90% 100%, 10% 100%,
    0% 90%, 0% 10% 
  );
} 

.calendar-cell {
  padding: 10px;
  background-color: #3b3f4b;
  color: white;
  text-align: center;
  border: 1px solid #252833;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  clip-path: polygon(
    10% 0%, 90% 0%, 
    100% 10%, 100% 90%, 
    90% 100%, 10% 100%, 
    0% 90%, 0% 10% 
  );
}
*/
.calendar-cell {
  cursor: pointer;
  background-image: url('../img/calendar-cell1.png');
  background-size: cover;
  background-repeat: round;
  display: flex;
  align-items: center;
  justify-content: center ;
  font-size: 15px;
  height: 100px;
}
.calendar-cell:hover {
  filter: brightness(0.8);
}

.calendar-cell.filled {
  background-color: #1e90ff;
}
/*
.empty-cell{
    padding: 10px;
  background-color: #808080;
  color: white;
  text-align: center;
  border: 1px solid #252833;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
  cursor: default;
  clip-path: polygon(
    10% 0%, 90% 0%, 
    100% 10%, 100% 90%, 
    90% 100%, 10% 100%, 
    0% 90%, 0% 10% 
  );
}
*/
.empty-cell{
  background-image: url('../img/empty-cell.png');
  background-size: cover;
  font-size: 15px;
  background-repeat: round;
  height: 100px;
}
.schedule-section img.etiquetas{
 width: 35px ;
}
.cantidad-entradas-container{
  background-color: #f8f9fa;

}
.datos-personales-container{
    background-color: #f8f9fa;
}
@media (max-width: 768px) {
  .navbar-brand {
    margin: 0 auto;
    padding-right: 85px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-icons {
    justify-content: center;
    margin-top: 10px;
  }

  .social-icons .nav-link {
    margin-left: 10px;
  }

  /* Background para pantallas móviles */
  body {
    background-image: url('../img/fondo-mobile.png');
  }

  #navbarNav {
    text-align: center;
  }

  .banner-web {
    display: none;
  }

  .banner-movil {
    display: block;
    width: 100%;
    /* Asegura que el banner móvil se ajuste al ancho de la pantalla */
  }
  .ticket-movil {
    display: block;
  }
  .ticket-web {
    display: none;
  }
  /* Asegura que cada día tenga su propia fila */
  .calendar-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2; 
  }

  .calendar-day {
  background-image: url('../img/calendar-day-mobile.png') !important; 
  background-size: cover;
  font-size: 15px;
  background-repeat: round;
  text-transform: uppercase;
  padding: 2px;
  font-family: 'Lufga';
   margin-bottom: 1px;
  }

  .calendar-day.lunes {
    border-top-left-radius: 0;
  }

  .calendar-day.domingo {
    border-top-right-radius: 0;
  }
.empty-cell{
  background-image: url('../img/empty-cell-mobile.png') !important;
  background-size: cover;
  font-size: 15px;
  background-repeat: round;
  height: 100px;
}
.calendar-cell.funcion{
  margin-top: 5px;
}
  .calendar-cell {
  background-image: url('../img/calendar-cell-mobile.png') !important;
  background-size: cover;
  font-size: 15px;
  background-repeat: round;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  }
.schedule-section img {
  width: 280px;
}
  .schedule-section img.etiquetas {
    width: 25px;
  }
#peliculasTitulos .movie-poster{
  width: auto;
  margin-top:1rem;
  margin-right: 8px;
  height: 8rem;

}


}

/* Ajuste del banner de escritorio en pantallas grandes */
@media (min-width: 768px) {
  .banner-web {
    display: block;
    width: 100%;
  }

  .banner-movil {
    display: none;
  }
}
.nuevaMovie {
  margin-top:30px;
  clear:both;
  width:100%;
}